<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TeaShop</title>
	<link rel="stylesheet" href="../style/style.css">
</head>
<body>

	<section class="header">
		<span class="header-logo">
		<a href="/"><img src="http://pics.v7.top.rbk.ru/v6_top_pics/media/img/4/16/754722172122164.png" alt="">
		</a>
		</span>
		<span class="header-nav">
			<a href="/" class="header-nav--btn">Главная</a>
			<a href="/prodList" class="header-nav--btn">Выбрать чай</a>
			<a href="/contacts" class="header-nav--btn">Контакты</a>
		</span>
		<span class="header-cart">
		<span class="header-cart">

				<form action="/cart" method="POST" style="position: relative; cursor: pointer;">
			<button type="submit" style="background-color: transparent; border: none; position: relative; cursor: pointer;" >
			<img class="cart" style="height: 50px; cursor: pointer;" src="https://d30y9cdsu7xlg0.cloudfront.net/png/1230-200.png" border="0" />
			</button>
			
			<input type="hidden" name="fromLS" id="fromLocalStorage" >
			<span style=" background-color: orange; display: flex; justify-content: center; align-items: center; height: 20px;width: 20px; border-radius: 50%; z-index: 1; position: absolute; bottom: 10px; right: -5px">
			<p id="amountOfItem"></p>
			</span>
			</form>


		</span>
			</span>
		
	</section>

	<script  type='text/javascript' src='../js/js.js'></script>
</body>
</html>